@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;531;600;700;800;900&display=swap');
*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

// ============== variables =================

@color_darkGrey: #333;
@color_lightgrey: #ddd;
@color_light2xGrey: #999;
@color_white: #fff;
@color_red: #FF0000;
@color_green: #35C481;

@background_grey: #efefef;

@font-size_default: 16px;

.icon_size {
  width: 16px;
  height: 16px;
  display: block;
  margin-left: 15px;
  transition: 0.3s ease;
}

.button {
  width: 194px;
  height: 40px;
  font-size: @font-size_default - 4px;
  color: @color_white !important;
  border-radius: 10px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;

  &_blue {
    font-size: @font-size_default;
    width: 226px;
    height: 60px;
  }

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
    transform: translateY(-2px);
  }
}

.subtitle {
  font-size: @font-size_default + 6px;
  font-weight: 300;
  padding-left: 30px !important;

  &:before {
    width: 5px !important;
    height: 30px !important;
    top: 90% !important;
  }
}

.title {
  position: relative;
  padding-left: 8px;
  margin-bottom: 35px;
  margin-top: 20px;

  &:before {
    content: '';
    width: 10px;
    height: 53%;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    margin-top: -27px;
    left: 0;
  }

  &-subtitle {
    font-size: @font-size_default + 30px;
    font-weight: 200;
    position: absolute;
    top: 45px;
    left: 40px;
  }

  &-shadow {
    font-size: @font-size_default + 78px;
    font-weight: 200;
    opacity: 0.07;
  }
}

.text {
  font-size: @font-size_default + 4px;
  line-height: 1.3;
}

.input {
  width: 100%;
  height: 40px;
  background: #F6F6F6;
  border: 1px solid #C8D0DC;
  border-radius: 5px;
  font-size: @font-size_default -4px;
  font-weight: 300;
  padding: 0 15px;

}

// ============== variables =================

body {
  // background: @color_white;
  font-family: 'Montserrat', sans-serif;
  background: @color_white;
  font-size: @font-size_default;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

p,ul,h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  color: @color_darkGrey;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1830px !important;
  padding: 0;
  margin: 0 auto;
}




























@media screen and (max-width: 374px) {


}
