@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;531;600;700;800;900&display=swap');
*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

// ============== variables =================

@color_darkGrey: #333;
@color_light2xGrey: #ddd;
@color_lightGrey: #999;
@color_white: #fff;
@color_red: #FF0000;
@color_green: #35C481;

@background_grey: #efefef;

@font-size_default: 16px;

.icon_size {
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 15px;
  transition: 0.3s ease;
}

button:focus {
  outline: none;
}

.button {
  width: 165px;
  height: 40px;
  font-size: @font-size_default;
  color: @color_white !important;
  background: @color_red;
  border-radius: 10px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;

  &_grey {
    font-size: @font-size_default;
    width: 125px !important;
    height: 40px;
    background: @color_light2xGrey;
    color: @color_darkGrey !important;
  }

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
    transform: translateY(-2px);
  }
}

.subtitle {
  font-size: @font-size_default + 8px;
  color: @color_red;
  font-family: 'Roboto Slab', sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
}

.title {
  font-size: @font-size_default + 32px;
  color: @color_red;
  font-family: 'Roboto Slab', sans-serif;
  margin-bottom: 40px;
  margin-top: 60px;

  & span {
    color: @color_lightGrey;
  }
}

.text {
  font-size: @font-size_default + 4px;
  line-height: 1.3;
}

.input {
  width: 100%;
  height: 40px;
  background: @color_white;
  border: 1px solid @color_light2xGrey;
  border-radius: 20px;
  font-size: @font-size_default - 2px;
  padding: 0 20px;

  &::placeholder {
    color: @color_darkGrey;
    font-size: @font-size_default - 2px;
    font-weight: 300;
  }

  &.textarea {
    padding-top: 20px;
    resize: none;
  }

}

// ============== variables =================

body {
  // background: @color_white;
  font-family: 'Montserrat', sans-serif;
  background: @background_grey;
  font-size: @font-size_default;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

p,ul,h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  color: @color_darkGrey;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 100% !important;
  padding: 0 45px;
  margin: 0 auto;
}

.page-header {

  &__top {
    background: @background_grey;
    padding: 12px 0;

    &-user {
      display: flex;
      align-items: center;
    }

    &-image {
      width: 16px;
      height: initial;
      margin-right: 15px;
    }

    &-pic {
      width: 100%;
      height: 100%;
    }

    &-link {
      font-size: @font-size_default - 4px;
      color: @color_darkGrey;
    }

    &-text {
      font-size: @font-size_default - 4px;
      color: @color_lightGrey;
    }

    &-block {
      display: flex;
      align-items: center;
    }

    &-bookmarks {
      display: flex;
      align-items: center;
    }

    &-heart {
      display: flex;
      align-items: center;
      margin-left: 42px;
    }
  }

  &__bookmarks {

    &-image {
      width: 16px;
      height: initial;
      margin-right: 15px;
    }

    &-text {
      font-size: @font-size_default - 4px;
      color: @color_lightGrey;

      & span {
        color: @color_darkGrey;
      }
    }
  }

  &__heart {

    &-image {
      width: 16px;
      height: initial;
      margin-right: 15px;
    }

    &-text {
      font-size: @font-size_default - 4px;
      color: @color_lightGrey;
    }

  }

  &__delivery {
    display: flex;
    width: 260px;

    &-icon {
      background: url(../img/box.svg) no-repeat center / contain;
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }

    &-block {
      width: 85%;
    }

    &-title {
      font-size: @font-size_default;
      font-family: 'Roboto Slab', sans-serif;
      color: @color_darkGrey;
      font-weight: 600;
      margin-bottom: 2px;
    }

    &-text {
      font-size: @font-size_default - 4px;
      color: @color_lightGrey;
      font-weight: 400;
    }
  }

  &__tel {
    display: flex;

    &-icon {
      background: url(../img/tel_red.svg) no-repeat center / contain;
      width: 24px;
      height: 24px;
    }

    &-title {
      font-size: @font-size_default - 4px;
      color: @color_lightGrey;
      font-weight: 400;
      margin-bottom: 2px;
    }

    &-text {
      font-size: @font-size_default + 8px;
      font-family: 'Roboto Slab', sans-serif;
      color: @color_darkGrey;
      font-weight: 600;
    }
  }

  &__basket {
    position: relative;
    cursor: pointer;

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-icon {
      background: url(../img/basket_red.svg) no-repeat center / contain;
      width: 48px;
      height: 48px;
      margin-right: 15px;
    }

    &-title {
      font-size: @font-size_default + 8px;
      font-family: 'Roboto Slab', sans-serif;
      color: @color_darkGrey;
      font-weight: 500;
      margin-bottom: 2px;

      & span {
        font-style: italic;
        font-weight: 300;
      }
    }

    &-text {
      font-size: @font-size_default - 2px;
      color: @color_lightGrey;
      font-weight: 300;
    }

    &-modal {
      position: absolute;
      top: 75px;
      right: 0;
      background: @color_white;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      padding: 20px 25px 20px 20px;
      border-radius: 20px;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s ease;
      width: 716px;


      &.visible {
        opacity: 1;
        pointer-events: auto;
      }

      &__cancel {
        background: @color_red;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -16px;
        right: -16px;

        &-image {
          background: url(../img/cancel_white.svg) no-repeat center / contain;
          width: 12px;
          height: 12px;
        }
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      &__left {
        display: flex;
        align-items: center;
        width: 49%;
      }

      &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 49%;
      }

      &__image {
        width: 48px;
        height: 48px;
        margin-right: 30px;

        &-pic {
          width: 100%;
          height: 100%;
        }
      }

      &__text {
        width: 45%;
        font-size: @font-size_default - 4px;
        color: @color_darkGrey;
      }

      &__price {
        font-size: @font-size_default + 2px;
        font-weight: 600;

        & span {
          font-style: italic;
          font-weight: 400;
        }
      }

      &__delete {
        background: url(../img/cancel_red.svg) no-repeat center / contain;
        width: 12px;
        height: 12px;
      }

      & .custom-input-number {
        margin-bottom: 0;
      }

      &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__middle {
    background: @color_white;
    padding: 40px 0;
  }

  &__search {
    position: relative;
    margin-right: 15px;
    width: 280px;

    &_mobile {
      display: none;
    }

    & div {
      background: url(../img/search_grey.svg) no-repeat center / contain;
      width: 24px;
      height: 24px;
      cursor: pointer;
      z-index: 400;
      float: right;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      background: url(../img/logo_header.svg) no-repeat center / contain;
      width: 238px;
      height: 45px;
    }
  }

  &__bottom {
    background: @color_red;

    &__container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-button {
      background: @color_white;
      border: 1px solid @color_white;
      width: 24%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }


    &-btn {
      padding: 3px 35px;
      color: @color_white;
      font-size: @font-size_default + 2px;
      font-family: 'Roboto Slab', sans-serif;
      transition: 0.3s ease;

      &:not(:last-child) {
        border-right: 1px solid #FB9494;
      }

      &:hover {
        color: @color_white;
      }
    }
  }

  &__button {

    &-text {
      font-family: 'Roboto Slab', sans-serif;
      font-size: @font-size_default + 8px;
      color: #FF0000;
      font-weight: 600;
      text-align: left;
      // border-top: 1px solid @color_light2xGrey;
      margin: 0 20px;
      padding: 13px 0;
    }

    &-arrow {
      background: url(../img/arrow_menu.svg) no-repeat center / contain;
      width: 14px;
      height: 14px;
      margin-right: 20px;
      display: none;
    }
  }

  &_drop .page-header__bottom__container {
    position: relative;
  }

  &_drop .page-header__bottom-button {
    width: 440px;
  }

  &_drop .page-header__button-arrow {
    display: block;
  }

  &_drop .page-header__bottom-button .page-header__button-arrow {
    transition: 0.3s ease;
  }

  &_drop .page-header__bottom-button.active_menu .page-header__button-arrow {
    transform: rotate(180deg);
  }

  &_drop .promo__menu {
    width: 440px;
    position: absolute;
    top: 66px;
    left: 45px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);

    &.openmenu {
      opacity: 1;
      pointer-events: auto;
      transform: rotateX(0deg);
      z-index: 10;
    }
  }



}



.search_button__submit {
  display: none;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.search_input {
  width: 0px;
  height: 40px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid @color_lightGrey;
  transition: 0.5s ease;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.search_input__active {
	width: 240px;
  opacity: 1;
  pointer-events: auto;
}

.tel__passive {
	opacity: 0;
}

::placeholder {
	font-size: @font-size_default - 4px;
  font-weight: 500;
  color: @color_lightGrey;
}

fieldset {
  border: 0;
  padding: 0 5px;
}

.promo {

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    width: 24%;
    background: @color_white;
    position: relative;
    border-radius: 0 0 0 20px;
  }

  &__item {
    padding: 0 30px;

    &:not(:last-child) .promo__link {
      border-bottom: 1px solid @color_light2xGrey;
    }

    &:hover .promo__link-arrow {
      background: url(../img/arrow_menu.svg) no-repeat center / contain;
      width: 8px;
      height: 8px;
      transform: rotate(90deg);
    }

    &:hover .promo__submenu {
      transform: translateX(100%);
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;

    &-text {
      font-size: @font-size_default + 2px;
    }

    &-arrow {
      background: url(../img/arrow_grey.svg) no-repeat center / contain;
      width: 8px;
      height: 8px;
      transition: 0.3s ease;
    }
  }

  &__submenu {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(0%);
    transition: 0.3s ease;
    opacity: 0;
    pointer-events: none;
    background: #fafafa;
    border-radius: 0 20px 20px 0;
    padding: 12px 0;
    z-index: 10;

    &-button {
      font-size: @font-size_default;
      color: @color_red;
      padding: 0 0 25px 60px;
      display: block;
    }
  }

  &__subitem {
    font-size: @font-size_default;
    color: @color_darkGrey;
    position: relative;
    margin: 25px 60px;

    &:before {
      content: '§';
      color: @color_red;
      position: absolute;
      top: 0;
      left: -30px;
    }
  }

  &__sublink {
    font-size: @font-size_default;
    color: @color_darkGrey;
  }

  &__slider {
    width: 76%;

    &_item {
      background: url(../img/promo.jpg) no-repeat center / cover;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 60px;

      &:after {
        content: '';
        background: rgba(0, 0, 0, 0.35);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &-title {
        font-size: @font-size_default + 48px;
        font-family: 'Roboto Slab', sans-serif;
        color: @color_white;
        font-weight: 600;
        margin-bottom: 30px;
        width: 40%;
        position: relative;
        z-index: 1;
      }

      &-text {
        font-size: @font-size_default;
        color: @color_white;
        line-height: 1.5;
        width: 55%;
        position: relative;
        z-index: 1;
      }
    }

    & .owl-stage-outer,
    & .owl-stage,
    & .owl-item {
      height: 100%;
      border-radius: 0 0 20px 0;
    }
  }
}

.plus {
  margin: 30px 45px 15px 45px;

  &__container {
    background: @color_white;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 46px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-text {
      transition: 0.3s ease;
    }

    &:hover .plus__item-icon path {
      fill: @color_red;
    }

    &:hover &-text {
      color: @color_red;
    }

    &-icon {
      margin-right: 20px;

      & path {
        transition: 0.3s ease;
      }
    }
  }
}

.category-slider {
  margin: 30px 0;

  &__item {
    height: 220px;
    background: @color_white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;

    &:hover {
      background: @color_red;
    }

    &-text {
      font-size: @font-size_default + 2px;
      margin-top: 30px;
      transition: 0.3s ease;
    }

    &:hover path {
      fill: @color_white;
    }

    &:hover &-text {
      color: @color_white;
    }

    &-icon {

      & path {
        transition: 0.3s ease;
      }
    }
  }
}


.custom-input-number {
	width: 120px;
	height: 40px;
	font-size: @font-size_default;
  border-radius: 10px;
  border: 1px solid @color_light2xGrey;
	display: flex;
	justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
 }

 .basket-quantity {
	border: 0;
	width: 35px;
  font-size: @font-size_default;
  text-align: center;
 }

 .basket-quantity-span {
	margin-left: -10px;
 }

 input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
 }

 .cin-btn {
	border: 0;
	background: transparent;
	cursor: pointer;
 }

 .cin-decrement {
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 16px;
  background: @color_light2xGrey;
  border-radius: 10px 0 0 10px;
 }

 .cin-increment {
  width: 40px;
  height: 40px;
  font-size: 16px;
  background: @color_light2xGrey;
  border-radius: 0 10px 10px 0;
 }

 .advice__item-title_change {
	text-align: center;
 }

 .advice__item-cancel {
	background: url(../img/icons/cansel.svg) no-repeat center / contain;
	width: 10px;
	height: 10px;
	cursor: pointer;
 }

 .advice__itemmini_cancel {
	display: flex;
	align-items: center;
	margin-right: 10px;
 }

 .basket__flex {
	display: flex;
	justify-content: space-between;
 }

 .basket__right_flex .detail__price {
	height: 98%;
 }

 .detail__price-button_blue {
	 margin-top: 10px;
	 margin-bottom: 30px;
	 background: #00277C;
 }

 .arrivals {

  &__flex {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 23.8%;
    min-height: 344px;
    background: @color_white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &:not(:nth-child(4n + 4)) {
      margin-right: 1.6%;
    }
  }

  &__content {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    width: 40%;
    height: 160px;

    &-pic {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__context {

    &-title {
      font-size: @font-size_default - 2px;
      font-weight: 600;
      color: @color_darkGrey;
      line-height: 1.5;
    }
  }

  &__autors {
    margin-top: 20px;

    &-publish {
      font-size: @font-size_default - 2px;
      font-weight: 400;
      color: @color_darkGrey;
      line-height: 1.5;
    }
  }

  &__price {
    font-size: @font-size_default + 16px;
    font-family: 'Roboto Slab', sans-serif;
    color: @color_red;
    font-weight: 700;
    margin-bottom: 20px;

    & span {
      font-style: italic;
      font-weight: 400;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-share {
      width: 40px;
      height: 40px;
      background: @color_light2xGrey;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-icon {
        background: url(../img/bookmark_grey.svg) no-repeat center / contain;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.page-footer {
  padding: 40px 0 0 0;
  margin-top: 30px;
  background: @color_light2xGrey;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__colmain {
    width: 25%;
    padding-bottom: 40px;

    &-logo {
      background: url(../img/logo_header.svg) no-repeat left / contain;
      display: block;
      width: 100%;
      height: 45px;
      margin-bottom: 42px;
    }

    &-item {
      display: flex;
      align-items: center;
      margin-top: 25px;

      &-icon {

        &_home {
          background: url(../img/home.svg) no-repeat center / contain;
        }

        &_tel {
          background: url(../img/tel_red.svg) no-repeat center / contain;
        }

        &_mail {
          background: url(../img/mail.svg) no-repeat center / contain;
        }
      }

      &-text {
        font-size: @font-size_default;
        color: @color_darkGrey;
      }
    }
  }

  &__collist {
    width: 20%;
    padding-bottom: 40px;

    &-title {
      font-size: @font-size_default;
      font-family: 'Roboto Slab', sans-serif;
      color: @color_red;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  &__item {
    margin-top: 23px;

    &-link {
      font-size: @font-size_default;
      color: @color_darkGrey;
    }
  }

  &__bottom {
    background: @color_red;
    padding: 13px 0;

    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-text {
      font-size: @font-size_default - 4px;
      color: @color_white;
      margin-left: 10%;

      & span {
        color: #FB9494;
      }
    }
  }

  &__development {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & a {
      color: #FB9494;
      font-size: @font-size_default - 4px;
    }

    & p {
      color: @color_white;
      font-size: @font-size_default - 4px;
      margin-left: 5px;
    }
  }
}

.promo__menu_mobile {
  display: none;
}



// SORT==========


.sort {
  margin: 60px 0 140px 0;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__filter {
    width: 24%;
    padding: 30px;
    background: @color_white;
    border-radius: 20px;

    &-title {
      font-family: 'Roboto Slab', sans-serif;
      font-size: @font-size_default + 4px;
      color: @color_red;
      font-weight: 700;
      margin-bottom: 30px;
    }

    &__item-title {
      padding-bottom: 15px;
      font-size: @font-size_default;
    }
  }
}

.broad {

  &__block {

    &-text {
      font-size: @font-size_default;
      color: #707070;
      font-weight: 400;
      margin-right: 20px;
      position: relative;
    }

    &-active {
      color: @color_red;
    }
    &-text:not(:last-child):after {
      content: '/';
      position: absolute;
      top: 1px;
      right: -15px;
    }
  }
}

.as_form__checkbox {
  display: none;
}

.as_form__agree {
  cursor: pointer;
  display: flex;
  margin-bottom: 0;
  padding-bottom: 14px;
  width: 100%;
}

.as_form__checkbox-custom {
  position: relative;
  width: 16px;
  height: 16px;
  background: @color_light2xGrey;
  cursor: pointer;
  border-radius: 4px;
}

.as_form__checkbox:checked + .as_form__checkbox-custom::before {
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 0;
  font-size: 10px;
  color: @color_white;
  border-radius: 3px;
  background: @color_red;
  cursor: pointer;
}

.as_form__checkbox-custom,
.as_form__check {
  display: inline-block;
  margin-right: 15px;
}

.as_form__check {
  width: 80%;
  font-size: @font-size_default - 2px;
  color: @color_darkGrey;
  line-height: 1.2;
}


.advice-sort__item {
	margin-bottom: 30px;
}

.advice-sort__block {
	display: flex;
  justify-content: space-between;
  align-items: center;

  & div {
    color: @color_lightGrey;
  }

}

.advice-sort__min {
	border: 1px solid #ccc;
	border-radius: 20px;
	width: 45%;
	font-weight: 400;
	height: 40px;
	padding-left: 15px;
	font-size: @font-size_default - 2px;
  font-family: 'Montserrat-Light', sans-serif;
}

.advice-sort__range {
	margin-top: 20px;
}

.sort .ui-state-default,
.sort .ui-widget-content .ui-state-default,
.sort .ui-widget-header .ui-state-default {
	border: #E41E25;
	background: #E41E25;
	border-radius: 50%;
	width: 16px;
	height: 16px;
}

.sort .ui-widget-content {
	background: #ccc;
	border: none;
	height: 6px;
}

.sort .ui-widget-header {
	background: #E41E25;
}

.sort .ui-slider-horizontal .ui-slider-handle {
	top: -0.35em;
}

.advice-sort__buttons {
	display: flex;
	justify-content: space-between;
}

.advice-sort__buttons-btn {
	width: 48%;
	height: 40px;
	font-size: 12px;
}

.advice-sort__buttons-btn_grey {
	background: #ccc;
	color: #333;
}

.sort__first-button {
  border: 0;
  background: transparent;
  color: @color_red;
  font-size: @font-size_default;
  font-weight: 500;
  padding: 0;
  margin-bottom: 30px;
}

.sort__first__block .sort__filter__item-title {
  border-bottom: 1px solid @color_light2xGrey;
}

.sort__filter__item-input {
  width: 100%;
  border: 0;
  border: 1px solid @color_light2xGrey;
  border-radius: 20px;
  padding-left: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 15px 0;

  &::placeholder {
    color: @color_darkGrey;
  }
}

.sort__first__scroll-button {
  border-top: 1px solid @color_light2xGrey;
  width: 100%;
  text-align: left;
  padding-top: 15px;
}

.sort__first__scroll {
  overflow-y: scroll;
  height: 300px;
}

::-webkit-scrollbar {
	height: 3px;
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: red;
}
::-webkit-scrollbar-track-piece {
	background-color: @color_white;
}
::-webkit-scrollbar-thumb {
	background-color: @color_red;
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
	background-color: @color_white;
}
::-webkit-resizer {
	background-color: @color_white;
}

.sort__filter__buttons {
  display: flex;
  align-items: center;

  &-btn {
    margin-right: 10px;
    width: 135px;

    &_2 {
      background: @color_light2xGrey;
      width: 120px;
      color: @color_darkGrey !important;
    }
  }
}

.sort__content {
  width: 74.5%;
}

.sort__category {
  display: flex;
  flex-wrap: wrap;

  &-item {
    color:@color_darkGrey;
    background: @color_white;
    font-size: @font-size_default - 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    transition: 0.3s ease;
    margin: 0 10px 10px 0;

    &:hover {
      background: @color_red;
      color: @color_white;
    }
  }
}

.sort__menu {
	display: flex;
	justify-content: space-between;
  align-items: center;
  margin: 60px 0 30px 0;
}

.sort__nav {
	margin-bottom: 0 !important;
	height: 24px;
}

.sort__sort {
	display: flex;
  align-items: center;
  margin-right: 40px;
}

.sort__navitem-image {
	width: 24px;
	height: 24px;
	transition: 0.3s ease;
}
.sort__navitem-image_1 {
	background: url(../img/cube_grey.svg) no-repeat center / contain;
}
.sort__navitem-image_2 {
	background: url(../img/line_grey.svg) no-repeat center / contain;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-link {
	padding: 0 5px;
	background: transparent;
}

.nav-pills .nav-link.active .sort__navitem-image_1 {
	background: url(../img/cube_red.svg) no-repeat center / contain;
	width: 24px;
	height: 24px;
}
.nav-pills .nav-link.active .sort__navitem-image_2 {
	background: url(../img/line_red.svg) no-repeat center / contain;
	width: 24px;
	height: 24px;
}

.sort__type {
	display: flex;
}

.sort__menu-text {
	color: @color_darkGrey;
	font-size: @font-size_default;
	font-weight: 400;
	margin-right: 17px;
}

.sort__box {
  display: flex;
}

.sort__menu-comparison {
  color: #999;

  & span {
    color: @color_darkGrey;
  }
}

.sort__flex {
  width: 100%;

  & .arrivals__item {
    width: 32%;

    &:not(:nth-child(4n + 4)) {
      margin-right: 0%;
    }

    &:not(:nth-child(3n + 3)) {
      margin-right: 2%;
    }
  }
}

.sort__item {
  width: 100%;
  min-height: 200px;

  &:not(:nth-child(4n + 4)) {
    margin-right: 0%;
  }

  & .arrivals__content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-direction: initial;
  }

  & .arrivals__image {
    width: 160px;
  }

  & .arrivals__context {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .arrivals__autors {
    width: 40%;
    margin-top: 0;
    padding-left: 30px;
    border-left: 1px solid @color_light2xGrey;

    &-publish {
      font-size: @font-size_default + 2px;
      color: #999;
    }
  }

  & .arrivals__option {
    width: 220px;
  }
}

.sort__line__title {
  width: 70%;

  & p {
    font-weight: 500;
    font-size: @font-size_default + 4px;
  }
}




.c-dropdown {
	position: relative;
	display: inline-block;
	text-align: left;
	z-index: 10;
 }
.c-dropdown__list {
	margin:0;
	padding: 6px 0;
	list-style: none;
	position: absolute;
	top: 125%;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	border-radius: 20px;
	background: #fff;
	transition: opacity 0.25s linear, top 0.25s linear;
}
.c-dropdown.is-open .c-dropdown__list {
	opacity: 1;
	visibility: visible;
	top: 100%;
	border: 1px solid #efefef;
}
.c-dropdown__item {
	padding: 6px 12px;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	color: #434a54;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: background-color 0.25s linear;
}
.c-dropdown__item:hover {
	background-color: #e6e9ed;
}
/** * Component: Button * -------------------------------------------------- */
.c-button {
	-webkit-appearance: none;
	margin: 0;
	border: 0;
	overflow: visible;
	font: inherit;
	text-transform: none;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	user-select: none;
}
.c-button:hover, .c-button:focus {
	outline: none;
	text-decoration: none;
}
.c-button:not(:disabled) {
	cursor: pointer;
}
/** * Component: Button * Modifier: Dropdown * -------------------------------------------------- */
.c-button--dropdown {
	width: 210px;
	height: 40px;
	padding: 6px 15px;
	background-color: #fff;
	color: #444;
	font-size: 14px;
	line-height: 26px;
	min-height: 32px;
	border-radius: 20px;
	text-align: left;
	transition: background-color 0.2s linear;
}

.c-button--dropdown:after {
	content: "";
	background: url(../img/arrow_grey.svg) no-repeat center / contain;
	position: absolute;
	top: 10px;
	right: 11px;
	width: 20px;
	height: 20px;
  border: 5px solid transparent;
  transform: rotate(90deg);
}


// SEARCH ============

.sort_search {

  & .sort__content {
    width: 100%;
  }

}

.search__content-title {
  font-size: @font-size_default + 4px;
  color: @color_lightGrey;
  font-weight: 600;
}

.search__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  & .c-button--dropdown {
    width: 100%;
  }

  & .sort__menu {
    margin-top: 30px;
  }

  & .as_form__agree {
    width: 12%;
    padding-bottom: 0;
  }

  & .sort__sort {
    width: 32%;
  }

  & .c-dropdown {
    width: 70%;
  }

}

.search__sort_input {
  width: 90%;

  & input {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    padding: 0 20px;

    &::placeholder {
      font-size: @font-size_default - 2px;
      color: @color_darkGrey;
    }
  }
}

.brands {
  padding: 60px 0 120px 0;

  &__block {
    column-count: 4;
  }

  &__item {
    width: 63%;

    &-title {
      color: @color_red;
      font-family: 'Roboto Slab', sans-serif;
      font-size: @font-size_default + 8px;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  &__string {
    padding: 15px 0;
    font-size: @font-size_default + 2px;
    border-bottom: 1px solid @color_light2xGrey;

    &:last-child {
      margin-bottom: 30px;
    }

    &-link {
      color: @color_darkGrey;
      font-size: @font-size_default;
      transition: 0.3s ease;

      &:hover {
        color: @color_red;
      }
    }
  }
}

// LIST ================

.list {

  & .brands__item-title {
    font-size: @font-size_default + 4px;
    font-weight: 700;
    color: @color_darkGrey;
  }

  & .brands__string {
    padding: 7px 0;
    border-bottom: 0;
  }

  & .brands__string-link {
    font-size: @font-size_default;
  }

  & .sublist {
    padding-left: 20px;
    margin: 20px 0 0 20px;
    border-left: 1px solid @color_light2xGrey;

    &__item {
      padding: 7px 0;

      &-link {
        font-size: @font-size_default;
        color: @color_darkGrey;
        transition: 0.3s ease;

        &:hover {
          color: @color_red;
        }
      }
    }
  }
}


//ABOUT =============


section.broad {
  padding-top: 60px;
}

.about {
  padding-bottom: 90px;

  &__content {
    width: 58%;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__background {
    background: url(../img/about.jpg) no-repeat center / contain;
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    margin-bottom: 60px;

    &:after {
      content: '';
      background: #000;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      border-radius: 20px;
    }

    &-image {
      width: 70%;
      height: 135px;
      position: relative;
      z-index: 10;
      object-fit: contain;
    }

    &-text {
      font-size: @font-size_default + 8px;
      color: @color_darkGrey;
      line-height: 2;
    }
  }

  & .map {
    width: 40%;
    height: 546px;

    & > ymaps {
      border-radius: 20px;
      overflow: hidden;
    }
  }

  & .point img {
    width: 32px;
    height: 32px;
  }
}

//PRIVACY POLICY ===============


.privacy-title {
  font-size: @font-size_default + 4px;
  font-weight: 600;
  font-family: 'Roboto Slab', sans-serif;
  margin: 40px 0;
}

.privacy-text {
  font-size: @font-size_default;
  line-height: 2;
}

.privacy-button {
  margin: 60px 0;
}

.privacy-text a {
  color: @color_red;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}





// CONTACTS=======================



.contacts {
  margin-bottom: 60px;

  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__content {
    width: 49%;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    width: 48%;
    margin-bottom: 40px;

    &-icon {
      width: 24px;
      height: 24px;
      margin-right: 15px;

      &_tel {
        background: url(../img/tel_red.svg) no-repeat center / contain;
        margin-top: 5px;
      }

      &_address {
        background: url(../img/home.svg) no-repeat center / contain;
      }

      &_time {
        background: url(../img/time_red.svg) no-repeat center / contain;
      }

      &_mail {
        background: url(../img/mail.svg) no-repeat center / contain;
      }
    }

    &-tel {
      font-size: @font-size_default + 8px;
      font-family: 'Roboto Slab', sans-serif;
      font-weight: 600;
      color: @color_darkGrey;
      transition: 0.3s ease;

      &:hover {
        color: @color_red;
      }
    }

    &-mail {
      color: @color_darkGrey;
      transition: 0.3s ease;

      &:hover {
        color: @color_red;
      }
    }
  }

  & .map {
    width: 100%;
    height: 488px;

    & > ymaps {
      border-radius: 20px;
      overflow: hidden;
    }
  }

  & .point img {
    width: 32px;
    height: 32px;
  }

  &__form {
    width: 49%;

    &-title {
      color: @color_darkGrey;
      font-weight: 700;
      font-size: @font-size_default + 4px;
      margin-top: 0;
    }
  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-button {
      width: 280px;
      height: 60px;
      font-size: @font-size_default + 2px;
    }
  }

  &__block {
    width: 49%;

    &_textarea {
      width: 100%;
      margin: 30px 0;

      & .textarea {
        height: 220px;
      }
    }
  }
}

.personal {
  margin-bottom: 60px;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: @color_white;
    border-radius: 20px;
    padding: 0 30px;

    &-item {
      width: 100%;

      &:not(:last-child) .personal__link {
        border-bottom: 1px solid #dddddd;
      }
    }
  }

  &__box {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
    width: 100%;

    &-title {
      font-size: @font-size_default + 2px;
      font-weight: 500;
      color: @color_darkGrey;
      width: 93%;
    }

    &-arrow {
      background: url(../img/arrow_grey.svg) no-repeat center / contain;
      width: 8px;
      height: 8px;
    }
  }

  &__tab {

    &-content {
      width: 74%;
    }

  }

  &-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 49%;
    }

    &__list {

      &-link {
        font-size: @font-size_default;
        color: @color_darkGrey;
        display: block;
        margin-bottom: 12px;
        transition: 0.3s ease;

        &:hover {
          color: @color_red;
        }
      }
    }
  }

  &-title {
    font-size: @font-size_default + 4px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    color: @color_darkGrey;
    margin-bottom: 30px;
  }

  &-feedback {
    flex-direction: column;
    width: 535px;

    &__input {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &-text {
        font-size: @font-size_default - 2px;
        font-weight: 500;
        margin-right: 20px;
        min-width: 150px;

        & span {
          color: @color_red;
        }
      }
    }

    &__block {
      margin-bottom: 30px;
    }

    &-content {
      font-size: @font-size_default - 2px;
      line-height: 2.5;
    }

    &__form {

      &-button {
        margin-top: 30px;
        width: 195px;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
    }
  }

  &-bookmarks {

    &__block {

      &_1 {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &_2 {
        width: 32%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__top {
      display: flex;
      margin-bottom: 30px;

      &-text {
        font-size: @font-size_default - 2px;

        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2) {
          width: 16%;
        }
        &:nth-child(3) {
          width: 11%;
        }
        &:nth-child(4) {
          width: 33%;
        }
      }
    }

    &__item {
      background: @color_white;
      border-radius: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px 30px 20px 20px;
      margin-bottom: 12px;

      &-model {
        width: 17%;
        color: @color_lightGrey;
        font-size: @font-size_default + 2px;
      }

      &-days {
        width: 11%;
        color: @color_darkGrey;
        font-size: @font-size_default + 2px;
      }

      &-price {
        width: 25%;
        color: @color_darkGrey;
        font-size: @font-size_default + 2px;
      }

      &-button {
        width: 155px;
      }

      &-cancel {
        background: url(../img/cancel_red.svg) no-repeat center / contain;
        width: 12px;
        height: 12px;
        cursor: pointer;
      }
    }

    &__image {
      width: 23%;
      height: 105px;

      &-pic {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__title {
      width: 71%;

      &-text {
        font-size: @font-size_default + 2px;
      }
    }
  }

  &-story {

    &__block {
      width: 31%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_1 {
        width: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__top {
      display: flex;
      margin-bottom: 30px;

      &-text {
        font-size: @font-size_default - 2px;

        &:nth-child(1) {
          width: 11%;
        }
        &:nth-child(2) {
          width: 30%;
        }
        &:nth-child(3) {
          width: 13.5%;
        }
        &:nth-child(4) {
          width: 13.5%;
        }
        &:nth-child(5) {
          width: 30%;
        }
      }
    }

    &__item {
      background: @color_white;
      border-radius: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px 30px 20px 20px;
      margin-bottom: 12px;

      &-number {
        width: 10%;
        font-size: @font-size_default + 2px;
      }

      &-items {
        width: 14%;
        font-size: @font-size_default + 2px;
      }

      &-total {
        width: 14%;
        font-size: @font-size_default + 2px;
      }

      &-button {
        width: 155px;
      }

      &-cancel {
        background: url(../img/cancel_red.svg) no-repeat center / contain;
        width: 12px;
        height: 12px;
        cursor: pointer;
      }

      &-view {
        background: url(../img/story.svg) no-repeat center / contain;
        width: 24px;
        height: 24px;
      }

      &-repeat {
        background: url(../img/story_2.svg) no-repeat center / contain;
        width: 24px;
        height: 24px;
      }
    }

    &__image {
      width: 23%;
      height: 105px;

      &-pic {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__title {
      width: 31%;
      padding-right: 15px;

      &-text {
        font-size: @font-size_default + 2px;
      }
    }
  }

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
  border-bottom: 1px solid #dddddd;

  & .personal__link-arrow {
    background: url(../img/arrow_menu.svg) no-repeat center / contain;
    transform: rotate(90deg);
    width: 8px;
    height: 8px;
  }
}

.nav-tabs .nav-link {
  border: 0;
}

.personal .as_form__checkbox-custom {
  border-radius: 50%;
}

.personal .as_form__check {
  width: 40px;
}

.personal .as_form__agree {
  width: 20%;
}

.sort__first_item {
  padding: 0;
}

.personal .as_form__checkbox:checked + .as_form__checkbox-custom::before {
  background: @color_red;
  content: '';
  border-radius: 50%;
}

.personal .as_form__checkbox:checked + .as_form__checkbox-custom::after {
  content: '';
  background: @color_white;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
}


.personal__tab-pane {
  height: 100%;
}













@media screen and (max-width: 1440px) {
  .arrivals__item {
    width: 32%;
  }

  .arrivals__item:not(:nth-child(4n + 4)) {
    margin-right: 0;
  }

  .arrivals__item:not(:nth-child(3n + 3)) {
    margin-right: 2%;
  }

  .button {
    width: 75%;
  }

  .page-footer__colmain-item-text {
    width: 80%;
  }

  .personal-feedback__form-button {
    width: 195px;
  }

  .personal-bookmarks__title-text {
    font-size: @font-size_default - 2px;
  }

  .personal-bookmarks__item-model {
    font-size: @font-size_default - 2px;
  }

  .personal-bookmarks__item-days {
    font-size:  @font-size_default - 2px;
  }

  .personal-bookmarks__item-price {
    font-size: @font-size_default - 2px;
  }

  .personal-bookmarks__item-button {
    width: 110px;
  }
}



@media screen and (max-width: 1366px) {
  .page-header__search {
    width: 160px;
  }

  .search_input__active {
    width: 130px;
  }

  .page-header__search div {
    right: -5px;
  }

  .promo__link-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .page-header__flex {
    flex-wrap: wrap;
  }

  .page-header__delivery {
    order: 4;
    width: 50%;
    margin-top: 30px;
  }

  .page-header__tel {
    order: 5;
    width: 50%;
    margin-top: 30px;
  }

  .promo__menu {
    width: 30%;
  }

  .page-header__bottom-button {
    width: 30%;
  }

  .promo__slider {
    width: 70%;
  }

  .promo__slider_item-title {
    font-size: @font-size_default + 24px;
  }

  .promo__slider_item-text {
    width: 100%;
  }

  .arrivals__item {
    width: 48%;
  }

  .arrivals__item:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }

  .arrivals__item:not(:nth-child(2n + 2)) {
    margin-right: 4%;
  }

  .personal__nav {
    width: 32%;
  }

  .personal__tab-content {
    width: 66%;
  }

  .personal-story__item-number {
    font-size: @font-size_default - 4px;
  }

  .personal-story__title-text {
    font-size: @font-size_default - 4px;
  }

  .personal-story__item-items {
    font-size: @font-size_default - 4px;
  }

  .personal-story__item-total {
    font-size: @font-size_default - 4px;
  }

  .personal-story__item-status {
    font-size: @font-size_default - 4px;
  }

  .personal-story__top-text {
    font-size: @font-size_default - 4px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 15px;
  }

  .page-header__button-text {
    margin: 0 10px;
  }

  .promo__item {
    padding: 0 20px;
  }

  .plus {
    margin: 30px 15px 15px 15px;
  }

  .plus__container {
    padding: 30px 0;
    flex-wrap: wrap;
  }

  .plus__item {
    width: 48%;
    margin: 10px 0;
  }

  .arrivals__item {
    width: 100%;
  }

  .arrivals__item:not(:nth-child(2n + 2)) {
    margin-right: 0%;
  }

  .page-footer__item-link {
    font-size: @font-size_default - 2px;
  }

  .page-footer__item {
    margin-top: 15px;
  }

  .page-header_drop .promo__menu {
    left: 15px;
  }

  .personal__nav {
    width: 42%;
  }

  .personal__tab-content {
    width: 56%;
  }

  .personal-feedback {
    width: 100%;
  }

  .personal-bookmarks__block_1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .personal-bookmarks__block_2 {
    width: 100%;
  }

  .personal-bookmarks__item-model {
    width: 50%;
    margin-bottom: 20px;
  }

  .personal-bookmarks__item-days {
    width: 50%;
    margin-bottom: 20px;
  }

  .personal-bookmarks__top {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .page-header__top-block {
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
  }

  .page-header__top-bookmarks {
    order: 1;
    margin-top: 10px;
  }

  .promo__slider {
    width: 100%;
  }

  .promo__container {
    padding: 0;
  }

  .page-header__bottom-button {
    width: 215px;
  }

  .promo__menu {
    width: 215px;
    position: absolute;
    left: 15px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transform-origin: 0 0;
    transform: rotateX(-100deg);
    transition: 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  }

  .promo__menu.openmenu {
    opacity: 1;
    pointer-events: auto;
    transform: rotateX(0deg);
  }

  .page-header__button-arrow {
    display: block;
    margin-right: 15px;
    transition: 0.3s ease;
  }


  .page-header__bottom-button.active_menu .page-header__button-arrow {
    transform: rotate(180deg);
  }

  .promo__menu {
    display: none;
  }

  .promo__menu_mobile {
    display: block;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
  }

  .page-header__bottom__container {
    position: relative;
  }

  .arrivals__item {
    margin-left: -50px;
  }

  .page-footer__colmain {
    width: 48%;
  }

  .page-footer__collist {
    width: 48%;
  }

  .page-header {

    &_drop {

      & .promo__menu.openmenu {
        display: block;
        width: 100%;
        left: 0;
      }

      & .promo__menu_mobile {
        top: 0;
        left: 0;
        width: 100%;
      }

      & .page-header__bottom-button {
        width: 230px;
      }
    }
  }

  .personal {
    position: relative;

    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: @color_white;
      border-radius: 20px;
      padding: 0 30px;
      margin: 20px 0;
      width: 390px;
      transition: 0.3s ease;

      &.active_menu {
        border-radius: 20px 20px 0 0;
      }

      & .subtitle {
        margin: 20px 0;
      }

      &-arrow {
        background: url(../img/arrow_menu.svg) no-repeat center / contain;
        transform: rotate(180deg);
        width: 18px;
        height: 18px;
      }
    }

    &__nav {
      width: 390px;
      position: absolute;
      top: 68px;
      left: 15px;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s ease;

      &.openmenu {
        opacity: 1;
        pointer-events: auto;
        border-radius: 0 0 20px 20px;
        z-index: 1;
      }
    }

    &__tab-content {
      width: 100%;
    }
  }

  .personal-info__item {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  .page-header__basket {
    width: 100%;
  }

  .page-header__delivery {
    width: 100%;
  }

  .page-header__tel {
    width: 100%;
  }

  .page-header__search {
    width: 100%;
    margin: 20px 0;
  }

  .search_input__active {
    width: 97%;
  }

  .page-header__basket-icon {
    width: 24px;
    height: 24px;
  }

  .promo__slider_item {
    padding: 30px 15px;
  }

  .promo__slider_item-title {
    font-size: @font-size_default + 8px;
    margin-bottom: 10px;
    width: 100%;
  }

  .promo__slider_item-text {
    font-size: @font-size_default - 2px;
  }

  .page-header__bottom__container {
    padding: 0;
  }

  .page-header__button-text {
    font-size: @font-size_default - 2px;
  }

  .page-header__button-arrow {
    width: 10px;
    height: 10px;
  }

  .page-header__bottom-button {
    width: 150px;
  }

  .page-header__bottom-btn {
    font-size: @font-size_default - 2px;
    padding: 0 10px;
  }

  .promo__menu {
    left: 0;
  }

  .promo__submenu {
    box-shadow: inset 6px 0px 10px 0px #ff0000;
  }

  .promo__subitem {
    margin: 12px 30px;
  }

  .promo__sublink {
    font-size: @font-size_default - 4px;
  }

  .promo__subitem:before {
    left: -18px;
  }

  .promo__submenu-button {
    padding: 0 0 25px 30px;
    font-size: @font-size_default - 4px;
  }

  .promo__menu_mobile {
    top: 51px;
  }

  .plus__item {
    width: 100%;
    padding-left: 15px;
  }

  .title {
    font-size: @font-size_default + 14px;
  }

  .arrivals__item {
    margin-left: 0px;
  }

  .page-footer__colmain {
    width: 100%;
  }

  .page-footer__collist {
    width: 100%;
  }

  .page-footer__bottom-text {
    margin-left: 0;
  }

  .page-footer__bottom .container {
    align-items: flex-start;
    flex-direction: column;
  }

  .page-header {

    &_drop {

      & .promo__menu.openmenu {
        top: 51px;
      }

      & .page-header__bottom-button {
        width: 180px;
      }
    }
  }

  .personal__button {
    width: 290px;

    & .subtitle {
      font-size: @font-size_default + 4px;
    }
  }

  .personal__nav {
    width: 290px;
    top: 64px;
  }
}

@media screen and (max-width: 420px) {
  .page-header__container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .page-header__top-block {
    width: 100%;
    align-items: flex-start;
    margin-top: 10px;
  }

  .page-header__top-heart {
    margin-left: 0;
  }

  .category-slider__item {
    width: 100%;
  }

  .arrivals__item {
    flex-direction: column;
  }

  .arrivals__image {
    width: 100%;
  }

  .arrivals__content {
    width: 100%;
  }

  .personal-feedback__form-button {
    width: 155px;
  }

  .personal .as_form__agree {
    width: 30%;
  }

  .personal-feedback__radio {
    flex-wrap: wrap;

    & .personal-feedback__input-text {
      margin-bottom: 20px;
    }
  }

  .personal-feedback__input-text {
    display: flex;
    justify-content: center;
  }

  .personal-bookmarks__item-model {
    width: 60%;
  }

  .personal-bookmarks__item-days {
    width: 40%;
    text-align: right;
  }
}





